.image-cont {
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .image-cont {
    height: 35vh;
  }
}

.search-container {
  position: relative;
  width: 80%;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s, width 0.3s;
}

.search-input:focus {
  border-color: #555;
}
/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .search-input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
  }
}
.suggestions-list {
  position: absolute;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 15px;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3.8rem; /* Makes it appear attached */
  color: black;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-item:hover {
  background-color: #f7f7f7;
}

/* Styling the scrollbar */
.suggestions-list::-webkit-scrollbar {
  width: 8px;
}

.suggestions-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.suggestions-list::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.suggestions-list::-webkit-scrollbar-track {
  background: transparent;
}

.selected-ingredients-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(50, 50, 50, 0.7); /* Dark, transparent gray */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.selected-ingredient {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: white; /* Light grey background */
  font-size: 16px;
  color: black;
}

.search-btn {
  background-color: orangered;
  border: none;
}
